@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --sun-border-radius: 50%;
    --planet-border-radius: 50%;
    --main-header-font: 'Secular one';
    --sub-header-font: 'Lora';
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #0C164D, #190B22);
}

.logo-wrapper {
    width: 625px;
    height: 121px;
    position: absolute;
    top: 72px;
    right: 68px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: flex-end;
}

.header {
    font-family: var(--main-header-font);
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: 0.338rem;
    text-align: right;
    color: #FFFFFF;
}

.sub-header {
    color: #FFD029;
    text-align: right;
    font-family: var(--sub-header-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.9rem;
}

.latin-name.sub-header {
    padding: -1px 4.25rem 0 0;
}

/* #region planets */
.planet-container {
    height: 100vh;
    width: 100vw;
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.planet-container figure {
    border-radius: var(--planet-border-radius);
    cursor: pointer;
    box-shadow: inset -7px 0px 8px 4px rgba(0, 0, 0, 0.2);
}

.planet-container .solen {
    height: 79.875rem;
    width: 79.875rem;
    margin-left: -74rem;
    box-shadow: 0px 0px 250px rgba(255, 209, 41, 0.24);
    background-color: #FFD029;
    border-radius: 50%;
}

.merkurius {
    position: relative;
    height: 0.875rem;
    width: 0.875rem;
    background-color: #888888;
}

.venus {
    height: 1.625rem;
    width: 1.625rem;
    background-color: #E7CDCD;
}

.jorden {
    height: 1.75rem;
    width: 1.75rem;
    background-color: #428ED4;
}

.mars {
    height: 0.875rem;
    width: 0.875rem;
    background-color: #EF5F5F;
}

.jupiter {
    height: 11.75rem;
    width: 11.75rem;
    background-color: #E29468;
}

.saturnus {
    position: relative;
    height: 9rem;
    width: 9rem;
    background-color: #C7AA72;
}

.saturnus::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12.5rem;
    height: 0.5rem;
    background-color: white;
    opacity: 0.3;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    box-shadow: 0 0 0 0.25rem #C7AA72;
}

.uranus {
    height: 4.125rem;
    width: 4.125rem;
    background-color: #C9D4F1;
}

.neptunus {
    height: 4.125rem;
    width: 4.125rem;
    background-color: #7A91A7;
}

/* #endregion planets */
/* #region infopage */

.overlay {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #0C164D, #190B22);
}

/* Class working as a template for each chosen planet where color changes depending on user input*/
.template-planet {
    position: absolute;
    height: 80rem;
    width: 80rem;
    left: -74rem;
    background-color: white;
    box-shadow: 0 0 0 40px rgba(231, 205, 205, 0.1), 0 0 0 80px rgba(231, 205, 205, 0.06);
    border-radius: 50%;
}

.info-box {
    width: 40rem;
    height: 42.625rem;
    margin: 6.31rem auto 7.31rem auto;
    position: relative;
    z-index: 1;
}

button {
    position: absolute;
    top: 5.7rem;
    right: 0;
    font-size: 2rem;
    background: transparent;
    border: none;
    color: #FFF;
    cursor: pointer;
}

/*  below for grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: 1.91rem;
}

.grid-container section:nth-child(-n+2) {
    border-top: 1px solid rgba(255, 255, 255, 0.200);
    padding-top: 1.5rem;
}

.grid-container section:nth-child(n+3):nth-child(-n+4) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.200);
}

.grid-container section:nth-child(5) {
    grid-column: span 2;
    padding-top: 1.5rem;
}

/* above for grid */
.info-box .header,
.latin-name {
    text-align: left;
    padding-bottom: 2rem;
}

.info-box section h3 {
    font-family: var(--main-header-font);
    font-size: 1.125rem;
    color: #FFFFFF;
    letter-spacing: 0.101rem;
}

.info-box .description,
p {
    font-family: 'Roboto Condensed';
    color: #FFFFFF;
    font-size: 1.125rem;
}

.description {
    line-height: 1.913rem;
    overflow-y: auto;
    max-height: 18rem;
}

.info-box p {
    letter-spacing: 0.18rem;
    line-height: 2rem;
    padding-bottom: 2rem;
}

/* #endregion infopage */